<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Upload</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">
</head>

<body>
<header>
    <div class="brand">
        <img src="{{ url_for('static', filename='assets/logo.png') }}" class="logo">
        <h1>Upload</h1>
    </div>
    <div class="menu-container">
        <a href="/" style="text-decoration:none;">
            <button class="menu-btn">Back</button>
        </a>
    </div>
</header>

<main>
<section class="hero">
    <div class="main-card">
        <div class="hero-text">Upload image on main page bro 🙂</div>
        <div class="result-box">Go back and use “Check by Image” button.</div>
    </div>
</section>
</main>
</body>
</html>
